/*p
{
	color: blue;
	font-size: 1.3 em;
	font-family: Impact, "Arial Black";
}
*/
/*
p
{
	border: 3px blue solid ;
	border-radius: 10px 5px 10px 5px;
}
*/
#conteneur
{
	display: flex;
	
}
#about
{
	display: flex;
	
	text-align: justify;

	
}

section
{
	
	background-color: #ccc;
	
	
}
/*	
nav
{	
	position: fixed;
	top:0px;
	right:0px;
	width: 150px;
	border: 1px solid blue;
}
*/
nav ul
{
	list-style-type: none;
	display:flex;
	right:100px;
	top:2px;
}
#fin
{
	
}
nav
{
	
}
body
{
	font-family:'Trebuchet', Arial, sans-serif;
	color:#181818;
}
#bloc_page
{
	
	width:900px;
	margin:auto;
}
header
{
	display: flex;
	justify-content:space-between;
	align-items: flex-end;
	
}
#logo
{
	display:flex;
	flex-direction:row;
	align-items:baseline;
}
@media screen and (max-width: 1024px)
{
	#bloc_page
	{
		width:auto;
		margin: auto;
	}
	nav ul
	{
		flex-direction: column;
	}
	nav li
	{
		padding-left:4px;
	}
	nav a 
	{
		font-size:1.1 em;
		
	}
	nav a:hover
	{
		border-bottom:0;
	}
	#conteneur
	{
		display : flex;
		flex-direction:column;
	}
	#photo_about
	{
		margin: auto;
	}
	#about
	{
	display: flex;
	
	text-align: center;
	text-align:justify;
	margin: auto;

	
	}
	
}